*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 50px;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 34rem;
    margin-top: 150px;
}

.container{
    display: flex;
    justify-content: space-between; /*horizontal, mas com o flex-direction em column passa a ser vertical*/
    align-items: center; /*vertical, mas com o flex-direction em column passa a ser horizontal*/
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.2rem 0;
    border: 1px solid lightgrey;
}

.container:nth-child(1){
    min-height: 30rem;
    width: 20rem;
}

.instagram-logo{
    height: 3rem;
}

.input-padrao{
    display: block;
	margin: 0 0 10px;
	padding: 5px 40px;
	width: 100%;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    
}

.enviar {
	width: 100%;
    margin-top: 10px;
	padding: 10px 0;
	background: rgb(80, 149, 240);
	color: white;
	font-size: 14px;
	border: none;
	border-radius: 5px;
}

.enviar:hover{
	background: rgb(80, 149, 240);
	transform: scale(1.05); /* Aumenta em 5 porcento dos o tamanho e conteúdo do botão ao passarmos o mouse por ele */
}

.opcoeslogin{
    margin-bottom: 20px;
}

.get-the-app{
    text-align: center;
    margin-top: 20px;   
    margin-bottom: 10px;
}

.obtenha-app img{
    float: left;
    width: 50%;
}
